### Mehr zu Typen

- Die Typen `int`, `float`, `string`, `bool` und `tuple` sind
  **immutable** (nicht modifizierbar). Ihr Wert kann nicht ge&auml;ndert werden. Es kann nur ein
  neues Objekt von diesem Typ mit einem neuen Wert erstellt werden.      
 
- Die Typen `str` und `tuple` sind **`iterable`**, das heisst, man kann z.B. in einem For-Loop
  &uuml;ber die Elemente des Objekts iterieren:
  ```python
  for x in 'abce':
         print(x)

  for x in (0, 1, 'foo', 3.0, None, (True, False)):
      print(x)
  ```       
- **Typenumwandlung/Cast**:  
  Ein Objekt `x` kann unter Umst&auml;nden 
  mit `<type>(x)` in ein Objekt vom Type `<type>` umgewandelt werden.  
  Z.B. `int(2.3)`, `float(2)`, `list('abc')`


Nachstehend stellen wir die Typen  `int`, `float`, `string`, `bool` und `tuple` kurz vor.

### Integer (`int`)
- immutable
- Operationen: `+, -, *, /, //, %, **`
- Auf Integer anwendbare Funktionen: `abs(x)` (Betrag von `x`, $abs(-2) = |-2| =2$)
  
**Bemerkungen**:
- `x / y` normale Division liefert **immer** ein `float`
- `x // y` Ganzahldivision, liefert **immer** ein `int`
- `x % y` liefert den Rest der Ganzahldivision
- `x ** y` rechnet `x` hoch `y`
- Division durch 0 erzeugt einen `ZeroDivisionError`
- Python kann mit sehr grossen Integern rechnen
- in ein Integer- (und auch Float-) Literals d&uuml;rfen `_` zur Verbesseung der Lesbarkeit eingestreut werden:
  `1_000_000`

In [ ]:
1_000_000_000

In [ ]:
print(abs(-2))
print(2 / 1, type(2 /1 ))
print(2 ** 10)
print(2 ** (2 ** 10)) # Python Integer duerfen sehr gross sein

### Fliesskommazahlen (`float`)
- immutable
- Operatonen: `+, -, *, /, //, %, **`
- Ein `float` kann nur Zahlen in einem bestimmten Intervall mit limitierter Genauigkeit abspeichern.
  Die Details sind abh&auml;ngig von der Architektur des Computers auf dem der Python Interpreter l&auml;uft.
  Typischerweise stehen 64 Bits zur Verf&uuml;gung um einen `float` zu speichern.
  Siehe z.B. <a href = 'https://en.wikipedia.org/wiki/Double-precision_floating-point_format#IEEE_754_double-precision_binary_floating-point_format:_binary64'>hier.</a>  
- Fliesskommazahlen werden intern als Bin&auml;rzahlen gespeichert.
So wie sich $\frac{1}{3}$ nicht exakt als Dezimalzahl darstellen l&auml;sst, kann man
$0.1$ nicht exakt als Bin&auml;rzahlen darstellen. Deshalb ist `False` das Resultat des Vergleichs `0.1 + 0.1 + 0.1 == 0.3` (Rundungsfehler).   
Anstatt auf Gleicheit zu testen, sollte man pr&uuml;fen, ob die **absolute Differenz klein** ist:
```python
epsilon = 0.000_000_000_1
abs(0.1 + 0.1 + 0.1 - 0.3) < epsilon
```

In [ ]:
0.1 + 0.1 + 0.1 == 0.3 # teste auf Gleichheit

In [ ]:
0.3 - (0.1 + 0.1 + 0.1)

In [ ]:
epsilon = 0.000_000_000_1
abs(0.1 + 0.1 + 0.1 - 0.3) < epsilon

### Booleans (`bool`)
- Es gibt nur 2 Objekte von Typ `bool`: `True` und `False`.  
  `bool` ist ein Subtyp von `int`. Deshalb verh&auml;lt sich `True` wie $1$ und `False` wie $0$.
  ```python
  0 == False  # True
  1 == True  # True
  ```
  

- **jedes** Objekt kann in den Typ `bool` umgewandelt werden:   
   - `0`, `0.0`, `None` und alle Iterables ohne Elemente werden zu `False`  
   - alle anderen werden zu `True`

### Strings (`str`)
- Strings sind **immutable** und **iterable**
- Ist `s` ein String, liefert `s[0]` und `s[1]` das $0$te (oder je nach Z&auml;hlart erste) bez. 1. Zeichen, oder einen **IndexError**.
- Viele n&uuml;tzliche Methoden: `upper, lower, ...`

### Tuples (`tuple`)
Der Typ `tuple` ist auch einer der built-in Types. Ein Tupel wird mit folgendem Ausdruck erzeugt:
```python
()  # leeres Tuple  
(<Ausdruck>,)  # Tuple mit einem Element, beachte das Komma!  
(<Ausdruck1>, <Ausdruck2>, ...) # Tuple mit mehreren Elementen
```


- Tuples sind **immutable** und **iterable**  
- Tuple mit nur einem Element werden so kreiert:  
  `t = ('a', )`, `t = (1, )`  
  **Achtung**: `t = ('a')` und `t = (1)`  liefert einen
  String, bew. einen Integer
- Ist `tp` ein Tuple, liefert tp[0] und tp[1] das $0$te (oder je nach Z&auml;hlart erste) bez. 1. Element, oder einen **IndexError**.

**Besonderheitvon Tuple**:  
Die Klammern des Tuple-Konstruktors sind fakultativ.
Das ist manchmal praktisch, kann aber zu schwer zu findenden Fehlern f&uuml;hren.

**Unpacking**: Besonderheit von Iterables (iterierbaren Objekten wie Stings und Tuples):  
Steht bei einer Zuweisung rechts vom Gleicheitszeichen ein Iterable
(iterierbares Objekt, z.B. ein Sting oder ein Tuple) mit der
passenden Anzahl Elemente, so werden diese den entsprechenden Variablen auf der linken Seite zugewiesen. 
Passt die Anzahl nicht, wird ein ValueError erzeugt.

```python
vorname, name = ('Hans', 'Muster')
a, b, c = 'abc'
```

In [7]:
1, 'foo'  # (1, 'foo')

(1, 'foo')

In [8]:
x = 1, 2 # x = (1, 2)
x

In [9]:
x = 1,  # Achtung x = (1,) ist ein Tupel mit einem Element, nicht die Zahl 1!
x + 2

TypeError: can only concatenate tuple (not "int") to tuple

In [11]:
vorname, name = ('Hans', 'Muster')
vorname, name

('Hans', 'Muster')

In [12]:
a, b, c = 'abc'
a, b, c

('a', 'b', 'c')

In [13]:
a, b = 'abc'

ValueError: too many values to unpack (expected 2)