### Kontrollfragen Lektion 5

1. Benutze `range`, um die Tuples `(-25, -20, ..., 20, 25)`,
   und `(25, 20, ..., -20, -25)` zu erstellen.
   Gib zur Kontrolle jeweils die ersten und letzten beiden Elemente aus (benutze Slicenotation).
1. Benutze Slicenotation, um aus dem String `s = '0123456789'`
   die Teilstrings `'0369'`, `'48'` und `'86420'` herauszugreifen, sowie den String umzudrehen.
1. Erstellen einen Platzhalterstring `ffrac` mit Formatierung,
   so dass `str.format(ffract, i, n)` ein String der L&auml;nge $6$ ist, der
   den Wert von $i/n$ auf 3 Stellen gerundet enth&auml;lt.
1. Schreibe eine Funktion `show_fractions(n)`, welche die Werte $1/n,\ldots, 10/n$ wie folgt auf 3 Stellen gerundet tabellarisch ausgibt.
   Z.B. `show_fractions(7)` produziert folgenden Output:
```python
1/7  =  0.143
2/7  =  0.286
3/7  =  0.429
4/7  =  0.571
5/7  =  0.714
6/7  =  0.857
7/7  =  1.000
8/7  =  1.143
9/7  =  1.286
10/7 =  1.429
```
5. Schreibe eine Funktion `maxlen(items)`, welche die L&auml;nge des
   l&auml;ngsten Strings in der Liste `items` zur&uuml;ckgibt.
   Die Liste `items` enth&auml;lt nur Strings.
1. Schreibe eine Funktion `count(items, item)`, die zur&uuml;ckgibt, wie oft
`item` in `items` vorkommt. Implementiere 2 Varianten, eine mit `continue` und eine ohne.

1. Schreibe eine Funktion `find_first(items, item)`, die in einer Liste/Tuple/String `items` nach dem ersten Vorkommen von `item` sucht. Wird `item` gefunden, wird sein Index zur&uuml;ckgegeben, andernfalls -1.

1. Schreibe eine Funktion `find_all(items, item)`, die ein Tuple mit allen Positionen $i$ zur&uuml;ckgibt, wo `item` in `items` auftritt.
Benutze `continue` nicht.
1. Schreibe eine Funktion `replace(items, item, new)`,
   welche alle Vorkommen von `item` in `items` durch `new` ersetzt.
1. Importiere die Liste `students` aus dem File `students.py`.
   Erstelle eine Liste mit allen Nachnamen und finde mit Hilfe von
   `maxlen` die L&auml;nge des l&auml;ngsten.
   Produziere dann mit Hilfe eines Platzhalterstrings und einer For-Schleife folgenden Output.
   
```python   
M. Blättler    mike.blaettler@edu.teko.ch
A. Fernandes   antonio.fernandes@edu.teko.ch
S. Kluser      steve.kluser@edu.teko.ch
E. Lechmann    eric.lechmann@edu.teko.ch
J. Leutwyler   jean.leutwyler@edu.teko.ch
S. Kluser      steve.kluser@edu.teko.ch
M. Stamenkovic marko.stamenkovic@edu.teko.ch
```

In [1]:
# 1) range
asc = tuple(range(-25, 26, 5))
dsc = tuple(range(25, -26, -5))
asc[:2], asc[-2:], dsc[:2], dsc[-2:]

((-25, -20), (20, 25), (25, 20), (-20, -25))

In [2]:
# 2) Slicenotation
s = '0123456789'
s[::3], s[4::4], s[-2::-2], s[::-1]

('0369', '48', '86420', '9876543210')

In [3]:
# 3) Platzhalterstring, Formatierung
ffrac = '{:6.3f}'
str.format(ffrac, 1/7)

' 0.143'

In [4]:
# 4) Platzhalterstring, Formatierung
def show_fraction(n):
    fstring = '{:<4} = {:6.3f}'
    for i in range(1, 11):
        fract = str.format('{}/{}', i, n)
        msg = str.format(fstring, fract, i/n)
        print(msg)

In [5]:
show_fraction(7)

1/7  =  0.143
2/7  =  0.286
3/7  =  0.429
4/7  =  0.571
5/7  =  0.714
6/7  =  0.857
7/7  =  1.000
8/7  =  1.143
9/7  =  1.286
10/7 =  1.429

In [6]:
# 5)
def maxlen(items):
    ''' returns the length of the longest
        string in the list items
        items: list[str]
    '''
    length = 0
    for item in items:
        length = max(length, len(item))
    return length

In [7]:
words = ['Übung', 'Haus', 'Atmung', 'Begrüssung', 
          'Hund', 'Ehrung', 'Einigung','Endung',
        ]
maxlen(words)

10

In [8]:
# 6)
def count1(items, item):
    '''returns how often item occurs in items
       items: Sequence
       item: any
    '''     
    cnt = 0
    for obj in items:
        if obj == item:
            cnt = cnt + 1
    return cnt


def count2(items, item):
    '''returns how often item occurs in items
       items: Sequence
       item: any
    '''     
    cnt = 0
    for obj in items:
        if obj != item:
            continue
        cnt = cnt + 1
    return cnt

In [9]:
word = 'abakadabra'
count1(word, 'a'), \
count2(word, 'a')

(5, 5)

In [10]:
# 7)
def find_first(items, item):
    '''returns the smallest i so that 
       items[i] == item or -1
       items: Sequence
       item: any
    '''     
    i = 0
    for obj in items:
        if obj == item:
            break
        i = i + 1  

    if i == len(items):
        i = -1
    return i

In [11]:
numbers = (4, 2, 6, 8, 9, 6, 3, 4, 6)
find_first(numbers, 7), \
find_first(numbers, 6)

(-1, 2)

In [12]:
# 8)
def find_all(items, item):
    '''returns a tuple with all the positions
       where item occurs in items
       items: Sequence
       item: any
    '''   
    indices = ()
    i = -1
    for obj in items:
        i = i + 1  
        if obj == item:
            indices = indices + (i,)
    return indices

In [13]:
find_all('abakadabra','a')

(0, 2, 4, 6, 9)

In [14]:
# 9)
def replace(items, item, new):
    '''replace all occurrences of item in items 
       with new
       items: list
       item: any
       new: any
    '''   
    n = len(items)
    for i in range(n):
        if items[i] == item:
            items[i] = new

In [15]:
items = list('abakadabra')
replace(items, 'a', 'A')
items

['A', 'b', 'A', 'k', 'A', 'd', 'A', 'b', 'r', 'A']

In [16]:
# 10)
from students import students

names = []
for fname, lname, email in students:
    names = names + [(lname)]


names[0],names[-1], maxlen(names)

('Blättler', 'Stamenkovic', 11)

In [17]:
fstring = '{:<14} {}'
for fname, lname, email in students:
    name = str.format('{}. {}', fname[0], lname)
    msg = str.format(fstring, name, email)
    print(msg)

M. Blättler    mike.blaettler@edu.teko.ch
A. Fernandes   antonio.fernandes@edu.teko.ch
S. Kluser      steve.kluser@edu.teko.ch
E. Lechmann    eric.lechmann@edu.teko.ch
J. Leutwyler   jean.leutwyler@edu.teko.ch
S. Kluser      steve.kluser@edu.teko.ch
M. Stamenkovic marko.stamenkovic@edu.teko.ch