### Kleine Aufgaben zum Typ list
Implementiere folgende Funktionen. 
Der Doc-String beschreibt, was die Funktion tun soll. 
Bei korrekter Implementation ergibt das Ausf&uuml;hren der  n√§chsten Zelle(n) jeweils `True`.

In [ ]:
def square(xs):
    '''xs ist eine Liste mit Zahlen.
       gib eine Liste mit den Quadraten dieser Zahlen zurueck
    '''
    ...

In [ ]:
square([2, 4, 7]) == [4, 16, 49]

In [ ]:
def inverse(xs):
    '''xs ist eine Liste mit Zahlen.
       gib eine Liste mit den reziproken Werten (1/x) dieser Zahlen zurueck.
       Ignoriere 0.
       
    '''
    ...

In [ ]:
inverse([2, 0, 7]) == [0.5, 0.14]

In [ ]:
def inverse_or_0(xs):
    '''xs ist eine Liste mit Zahlen.
       gib eine Liste mit den reziproken Werten oder 0 zurueck.
    '''
    ...

In [ ]:
inverse_or_0([2, 0, 7]) == [0.5, 0, 0.14]

In [ ]:
def double_in_place(xs):
    '''Verdopple alle Zahlen in der Liste xs
       (modifiziere die Liste xs, gib nichts zurueck)
       xs: list[int]
    '''
    ...

In [ ]:
xs = [2, 4, 7]
double_in_place(xs)
xs == [4, 8, 14]

In [ ]:
def mul(xs):
    '''multipliziere alle Zahlen in der Liste xs 
       und gib das Resultat zurueck.
       xs: list[int]
    '''
    ...

In [ ]:
mul([2, 3, 5, 8]) == 240

In [ ]:
def popn(xs, n):
    '''Entferne die letzten n Elemente aus der Liste
       (stoppe, wenn die Liste leer ist) 
       und gib diese zurueck.
    '''
    ...

In [ ]:
xs = [1, 2, 3]
ys = popn(xs, 2) 
xs == [1] and ys == [3, 2]

In [ ]:
xs = [1, 2, 3]
ys = popn(xs, 5) 
xs == [] and ys == [3, 2, 1]

In [ ]:
def sort_by_second(items):
    '''items ist eine Liste von Tupeln de Laenge 2.
       Sortiere die Liste nach dem 2. Element der Tuple
    '''
    ...

In [ ]:
sort_by_second([('foo', 1), ('bar', 3), ('baz', 2)]) == \
[('foo', 1), ('baz', 2), ('bar', 3)]

In [ ]:
def closest_to(xs, n):
    '''xs ist eine Liste von Zahlen.
       Sortiere die Liste nach dem Abstand der Zahlen zur Zahl n
    '''   
    ...

In [ ]:
closest_to([2, 15, 9], 10) == [9, 15, 2]

In [ ]:
def form_pairs(xs):
    '''xs ist eine Liste
       git eine Liste mit Paaren (Tupeln der Laenge 2)
       aufeinanderfolgender Elemente zurueck.
       Das letzte Tuple hat ev. nur Laenge 1.
    '''
    ...

In [ ]:
form_pairs([1, 2, 3, 4, 5]) == [(1, 2), (3, 4), (5,)]

In [ ]:
def flatten(tuples):
    '''tuples ist eine Liste von Tuple
       mache daraus eine flache Liste
    '''
    ...

In [ ]:
flatten([(1, 2), (3, 4), (5,)]) == [1, 2, 3, 4, 5]

In [ ]:
def minimum(xs):
    '''gib die kleinste Zahl der Liste xs zurueck
       ohne die Funktion min zu benutzen.
       xs: list[int]
    '''
    ...

In [ ]:
minimum([3, 2, 1, 4, 1, 6]) == 1