### Die Funktion `range`
Die Funktion kreiert ein **Iterable/iterierbares Objekt**
dessen Elemente **erst bei Bedarf erzeugt** werden.


- `range(100)` kreiert ein iterierbares Objekt mit 
  den Elemenen $0,1,\ldots,99$.
- `range(-5, 6)` kreiert ein iterierbares Objekt mit 
  den Elemenen $-5,-4,\ldots,5$.
- `range(10, 20, 3)` kreiert ein iterierbares Objekt mit 
  den Elemenen $10,13,16,19$.  


Die Funktion `range` kann mit 1 bis 3 Argumenten aufgerufen werden.
Alle Argumente m&uuml;ssen von Typ `int` sein.
- `range(stop)` erzeugt die Elemente $0,1,\ldots, \texttt{stop}-1$,
- `range(start, stop)` erzeugt die Elemente
 $\texttt{start},\texttt{start}+1,\ldots, \texttt{stop}-1$,
- `range(start, stop, step)` erzeugt die Elemente
 $\texttt{start},\texttt{start}+\texttt{step},\ldots$, die kleiner als `stop` sind.

Typische Verwendungsweisen:
```python
numbers = tuple(range(-5, 6)) # erzeugt Tuple (-5,-4,...,5)

for i in range(5):  # for i in (0, 1, 2, 3, 4):
    ...
```
***

### Eine Funktion `myrange`  
`myrange(*args)` liefert das gleiche Tuple wie
`tuple(range(*args))`.

In [ ]:
def myrange(start, stop=None, step=1):
    if stop is None:
        stop = start
        start = 0
    print('start = ' + str(start), 
          'stop = ' + str(stop), 
          'step = ' + str(step), 
          )    
    items = ()
    i = start

    if step > 0:
        while i < stop:
            items = items + (i,)
            i = i + step
    elif step < 0:
        while i > stop:
            items = items + (i,)
            i = i + step
    return items

In [ ]:
myrange(3)

In [ ]:
myrange(-5, 6)

In [ ]:
myrange(10, 5, -2)

In [ ]:
myrange(3) == tuple(range(3))

### Aufgabe:
- Erzeuge ein Tuple mit allen geraden Zahlen von 2 bis und mit 100.
- Erzeuge ein Tuple mit allen ungeraden Zahlen von 1 bis und mit 99.
- Schreibe eine Funktion `total(numbers)`, welche die
  Summe aller Zahlen im Tupel/Liste `numbers` zur&uuml;ck gibt.
- &Uuml;berpr&uuml;fe dein Resultat mit Hilfe der Funktion `sum`:  
 `sum(<iterable>)` berechnet die Summe aller Elemente von `<iterable>`, falls `<iterable>` nur Zahlen enth&auml;lt.

In [ ]:
nbrs = (1, 5, 9)
sum(nbrs)

In [ ]:
even_nbrs = tuple(range(2, 101, 2))
sum(even_nbrs)

In [ ]:
odd_nbrs = tuple(range(1, 100, 2))
sum(odd_nbrs)

In [ ]:
def total(numbers):
    tot = 0
    for n in numbers:
        tot = tot + n
    return tot

In [ ]:
total (even_nbrs)

In [ ]:
total (odd_nbrs)